/* Sticky Nav */
.sticky-nav .site-navigation {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

@media only screen and (max-width: 800px) {
  .sticky-nav .site-navigation {
      position: relative;
      top: auto;
    } 
}
